{% load static %}
<!DOCTYPE html>

<html lang="en">

    {% include 'main/includes/head.html'%}

    <body>
        <!--========== Preloader ==========-->
    {% include 'main/includes/preloader.html'%} 
         <!--========== Preloader ==========-->

        <!-- ============Header Section Starts Here================== -->
         {% include 'main/includes/header_section.html'%}
        <!-- ============Header Section Ends Here================== -->

        <!--=======Banner-Section Starts Here=======-->
       {% include 'main/includes/banner_section.html'%}
        
        <!--=======Banner-Section Ends Here=======-->

        <!--=======Feature-Section Starts Here=======-->
        {% include 'main/includes/feature_section.html'%}
        <!--=======Feature-Section Ends Here=======-->

        <!--=======Ticket-Section Starts Here=======-->
        {% include 'main/includes/sets_display.html'%}
        <!--=======Ticket-Section Ends Here=======-->

        <!--=======Flow-Section Starts Here=======-->
        {% include 'main/includes/steps-howto.html'%}
        <!--=======Flow-Section Ends Here=======-->

        <!--=======Deposite-Section Starts Here=======-->
        {% include 'main/includes/latestactivity.html'%}
        <!--=======Deposite-Section Ends Here=======-->

        <!--=======Investor-Section Starts Here=======-->
        <!--{% include 'main/includes/investor_section.html'%} -->
        <!--=======Investor-Section Ends Here=======-->

        <!--=======Profit-Section Starts Here=======-->
        {% include 'main/includes/profit_calculator.html'%}
        <!--=======Profit-Section Ends Here=======-->

        <!--=======Counter-Section Starts Here=======-->
        {% include 'main/includes/application_stats.html'%}
        <!--=======Counter-Section Ends Here=======-->

        <!--=======App-Section Starts Here=======-->
         {% include 'main/includes/app_section.html'%}
        <!--=======App-Section Ends Here=======-->

        <!--=======Client-Section Starts Here=======-->
         {% include 'main/includes/reviews_section.html'%}
        <!--=======Client-Section Ends Here=======-->

        <!--=======Blog-Section Starts Here=======-->
        {% include 'main/includes/blog_section.html'%}
        <!--=======Blog-Section Ends Here=======-->

        <!--=======Partner-Section Starts Here=======-->
        {% include 'main/includes/partner_section.html'%}
        <!--=======Partner-Section Ends Here=======-->

        <!--=======Comission-Section Starts Here=======-->
        {% include 'main/includes/comissions_section.html'%}
        <!--=======Comission-Section Ends Here=======-->

        <!--=======Footer-Section Starts Here=======-->
        {% include 'main/includes/footer_section.html'%}
        <!--=======Footer-Section Ends Here=======-->

        <!--=======JS-Scripts Start Here=======-->
        {% include 'main/includes/js_section.html'%}
        <!--=======JS-Scripts Ends Here=======-->
    </body>

</html>