{% extends 'main/mainpage.html' %}

{% block content %}
{% load tags %}

<h3><span class ="teal-text text-darken-2">Select from the one of the sets below!</span></h3>

<div class = "z-depth-3">
	<div class ="row">
	{% for set in Sets %}
		{% if not set.setReady %}
				
				{% if not user.is_authenticated %}
					<div class ="col s4">
						{% include 'main/includes/cards.html' %}
					</div>
				{% else %}
						{% if set.setID|check_in:SIDS %}
							<div class ="col s4">
								{% include 'main/includes/cards.html' %}
							</div>
						{% endif %}
				{% endif %}

		{% endif %}
	{% endfor %}
	{%if user.is_authenticated %}
		{%if Sets|checkNone:SIDS %}
			<h6>Check Back Soon!</h6>
		{% endif %}
	{% endif %}
	</div>

</div>


{% endblock %}