{% load static %}
{% block content %}
<div class="counter-section padding-bottom">
        <div class="container">
            <div class="counter-wrapper">
                <div class="counter-item">
                    <div class="counter-thumb">
                        <div class="thumb">
                            <!-- Add data analytics here -->
                            <div class="odometer" data-odometer-final="0">01</div>
                        </div>
                    </div>
                    <h5 class="title">active members</h5>
                </div>
                <div class="counter-item two">
                    <div class="counter-thumb">
                        <div class="thumb">
                            <div class="odometer" data-odometer-final="0">02</div>
                        </div>
                    </div>
                    <h5 class="title">Running Days</h5>
                </div>
                <div class="counter-item three">
                    <div class="counter-thumb">
                        <div class="thumb">
                            <div class="odometer" data-odometer-final="0">03</div>
                        </div>
                    </div>
                    <h5 class="title">Total Deposit</h5>
                </div>
                <div class="counter-item four">
                    <div class="counter-thumb">
                        <div class="thumb k">
                            <div class="odometer" data-odometer-final="0">04</div>
                        </div>
                    </div>
                    <h5 class="title">Total Members</h5>
                </div>
            </div>
        </div>
    </div>
{%endblock%}