{% load static %}
{%block content%}
<section class="banner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="banner-content">
                        <h1 class="title">
                            Community Driven, Group Loans
                        </h1>
                        <p>
                            From your PC to your bank account. Participate with your neighbors to pool money together and get le money and le more le words le right here le! OLE!
                        </p>
                        <a href="#0" class="custom-button">Sign Up to get started</a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner-thumb">
                        <div class="thumb-1">
                            <img src="{% static 'main/images/banner/banner01.png' %}" alt="banner">
                        </div>
                        <div class="thumb-2">
                            <img src="{% static 'main/images/banner/banner02.png'%}" alt="banner">
                        </div>
                        <div class="thumb-3">
                            <img src="{% static 'main/images/banner/banner03.png'%}" alt="banner">
                        </div>
                        <div class="thumb-4">
                            <img src="{% static 'main/images/banner/banner04.png'%}" alt="banner">
                        </div>
                        <div class="coin">
                            <img src="{% static 'main/images/banner/coin.png'%}" alt="banner">
                            <img src="{% static 'main/images/banner/coin.png'%}" alt="banner">
                            <img src="{% static 'main/images/banner/coin.png'%}" alt="banner">
                            <img src="{% static 'main/images/banner/coin.png'%}" alt="banner">
                            <img src="{% static 'main/images/banner/coin.png'%}" alt="banner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}