{% load static %}
{% block content %}
<section class="comission-section padding-top padding-bottom">
        <div class="container mw-xl-100">
            <div class="comission-wrapper">
                <div class="comission-content">
                    <div class="section-header left-style">
                        <span class="cate">get big profit</span>
                        <h2 class="title">30% Referral Commission</h2>
                    </div>
                    <div class="content">
                        <div class="content-content">
                            <p>Blandit rutrum auctor eu quis euismod, eget porta feugiat, ut nec sit. Est fusce enim dapibus
                                commodo pulvinar conRecusandae viverra, sed maecenas possimus phasellus fringilla, phasellus
                                augue, senectus netus taciti nibh ornare vivamus malesuada. Nec ullamcorper</p>
                            <p>nonummy pede vel sed. Nonummy qui quis in ut mauris, viverra lectus erat maecenas fermentum
                                sed, praesent velit dignissim est, aenean eleifend donec orci pede, ipsum quam lobortis eu.
                                A fusce cras nulla</p>
                        </div>
                        <ul class="bullet-list">
                            <li>Maecenas possimus phasellus fringilla, phasellus augue, senectus netus taciti nibh
                                ornare vivamus malesuada. Nec ullamcorper</li>
                            <li>Recusandae viverra, sed dui habitant, a vivamus eget sit et, quam parturient et nisl ac
                                volutpat pede arcu lacinia</li>
                            <li>Nonummy donec error faucibus nonummy sedPede rhoncus nullam montes vel doloremque met
                                risus
                            </li>
                        </ul>
                        <a href="#0" class="custom-button no-radius">get start now</a>
                    </div>
                </div>
                <div class="comission-thumb">
                    <div class="com-bg z-999">
                        <img src="{% static 'main/images/comission/comission-bg.png'%}" alt="comission">
                    </div>
                    <div class="man">
                        <img src="{% static 'main/images/comission/man.png'%}" alt="comission">
                    </div>
                    <div class="com-plat">
                        <img src="{% static 'main/images/comission/comission1.png'%}" alt="comission">
                    </div>
                    <div class="woman">
                        <img src="{% static 'main/images/comission/woman.png'%}" alt="comission">
                    </div>
                    <div class="coin-shad wow bounceInDown" data-wow-delay=".5s">
                        <img src="{% static 'main/images/comission/shad-coin.png'%}" alt="comission">
                    </div>
                    <div class="coin-1 wow bounceInDown" data-wow-delay="1s">
                        <img src="{% static 'main/images/comission/coin.png'%}" alt="comission">
                    </div>
                    <div class="coin-2 wow bounceInDown" data-wow-delay="1.5s">
                        <img src="{% static 'main/images/comission/coin.png'%}" alt="comission">
                    </div>
                    <div class="coin-3">
                        <img src="{% static 'main/images/comission/coin-2.png'%}" alt="comission">
                    </div>
                    <div class="coin-4">
                        <img src="{% static 'main/images/comission/coin-3.png'%}" alt="comission">
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}