 {% load static %}
 <div class="feature-section">
        <!--=======Feature-Slide-Section Starts Here=======-->
        <section class="feature-slide-section padding-top padding-bottom">
            <div class="anime-1">
                <img src="{% static 'main/images/animation/01.png'%}" alt="animation">
            </div>
            <div class="anime-2">
                <img src="{% static 'main/images/animation/02.png'%}" alt="animation">
            </div>
            <div class="anime-3">
                <img src="{% static 'main/images/animation/03.png'%}" alt="animation">
            </div>
            <div class="anime-4">
                <img src="{% static 'main/images/animation/04.png'%}" alt="animation">
            </div>
            <div class="anime-5">
                <img src="{% static 'main/images/animation/05.png'%}" alt="animation">
            </div>
            <div class="container">
                <div class="feature-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="feature-item">
                                <div class="feature-thumb bg-1">
                                    <img src="{% static 'main/images/feature/feature01.png'%}" alt="feature">
                                </div>
                                <div class="feature-content">
                                    <h5 class="title">Customer Care</h5>
                                    <p>Don't worry bro, i'll make sure you get yo moneys worth fam
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="feature-item">
                                <div class="feature-thumb bg-2">
                                    <img src="{% static 'main/images/feature/feature02.png'%}" alt="feature">
                                </div>
                                <div class="feature-content">
                                    <h5 class="title">Referral Program</h5>
                                    <p>Let's be real, you want this, you know your mans want this. Why not make it spicy for yourself~
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="feature-item">
                                <div class="feature-thumb bg-3">
                                    <img src="{% static 'main/images/feature/feature03.png'%}" alt="feature">
                                </div>
                                <div class="feature-content">
                                    <h5 class="title">Online Trasnfer</h5>
                                    <p>Easy, from the comfort of your home kinda transfers, you do your part, we'll do ours. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=======Feature-Slide-Section Ends Here=======-->
        <div class="trigon-2">
            <img class="wow slideInRight" src="{% static 'main/css/img/trigon02.png'%}" alt="css" data-wow-delay="1s"
                data-wow-duration="1s">
        </div>
        <div class="anime-2">
            <img src="{% static 'main/images/animation/02.png'%}" alt="animation">
        </div>
        <div class="anime-4">
            <img src="{% static 'main/images/animation/04.png'%}" alt="animation">
        </div>
        <div class="anime-5">
            <img src="{% static 'main/images/animation/05.png'%}" alt="animation">
        </div>
        <!--=======About-Us-Section Starts Here=======-->
        <section class="about-section padding-bottom">
            <div class="trigon-1 wow slideInLeft" data-wow-delay="1s" data-wow-duration="1s">
                <img src="{% static 'main/css/img/trigon01.png'%}" alt="css">
            </div>
            <div class="container mw-xl-100">
                <div class="about-wrapper">
                    <div class="about-thumb wow slideInLeft" data-wow-duration="1.5s">
                        <img src="{% static 'main/images/about/about.png'%}" alt="about">
                    </div>
                    <div class="about-content">
                        <div class="section-header left-style">
                            <span class="cate">Pooled Money? What's that</span>
                            <h2 class="title">Pooled Money is what we call a Set</h2>
                            <p>We'll insure every penny to make sure that you recieve the amounts that you're expecting. We're all work together to help each other!</p>
                        </div>
                        <div class="about-area">
                            <div class="about--item one">
                                <div class="about--thumb">
                                    <img src="{% static 'main/images/about/about01.png'%}" alt="about">
                                </div>
                                <div class="about--content">
                                    <h4 class="title">24/7 Support</h4>
                                    <p>Avaialble at your behest, reach out to our support email for help!</p>
                                </div>
                            </div>
                            <div class="about--item two">
                                <div class="about--thumb">
                                    <img src="{% static 'main/images/about/about02.png'%}" alt="about">
                                </div>
                                <div class="about--content">
                                    <h4 class="title">We're Secure</h4>
                                    <p>Backed by Ontario's legislated Financial Regulations, we're certified in handling your cash and making sure no funny business is afoot.</p>
                                </div>
                            </div>
                            <div class="about--item three">
                                <div class="about--thumb">
                                    <img src="{% static 'main/images/about/about03.png'%}" alt="about">
                                </div>
                                <div class="about--content">
                                    <h4 class="title">We Innovate</h4>
                                    <p>Working hard to create financial solutions for all Canadians!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=======About-Us-Section Ends Here=======-->
    </div>