{% load static %}
 {% block section%}
 <section class="top-investor-section padding-bottom padding-top bg-g-1 pb-lg-0">
        <div class="futa">
            <img src="{% static 'main/css/img/futa.png'%}" alt="css">
        </div>
        <div class="circle-effect">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="container">
            <div class="section-header light-color">
                <span class="cate">Save investment in here</span>
                <h2 class="title">Our Top Investor</h2>
                <p>Blandit rutrum auctor eu quis euismod, eget porta feugiat, ut nec sit. Est fusce enim dapibus commodo
                    pulvinar con</p>
            </div>
            <div class="row mb-30-none justify-content-center">
                <div class="col-md-10 col-lg-6">
                    <div class="investor-item">
                        <div class="investor-thumb c-thumb">
                            <a href="#0">
                                <img src="{% static 'main/images/investor/investor01.jpg'%}" alt="investor">
                            </a>
                        </div>
                        <div class="investor-content">
                            <ul class="social">
                                <li>
                                    <a href="#0" class="twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="pinterest">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="content">
                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,</p>
                                <div class="author">
                                    <h5 class="subtitle">
                                        <a href="#0">Raihan Rafuj</a>
                                    </h5>
                                    <span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="investor-item">
                        <h2 class="h-title">40<span>M</span></h2>
                        <h3 class="h-subtitle">Investor in here</h3>
                    </div>
                </div>
                <div class="col-md-10 col-lg-6">
                    <div class="investor-item">
                        <div class="investor-thumb c-thumb">
                            <a href="#0">
                                <img src="{% static 'main/images/investor/investor02.jpg'%}" alt="investor">
                            </a>
                        </div>
                        <div class="investor-content">
                            <ul class="social">
                                <li>
                                    <a href="#0" class="twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="pinterest">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="content">
                                <p>Iure sit illum tenetur dicta adipisci libero autem quos vero in.</p>
                                <div class="author">
                                    <h5 class="subtitle">
                                        <a href="#0">Fahad Foiz</a>
                                    </h5>
                                    <span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="investor-item">
                        <div class="investor-thumb c-thumb">
                            <a href="#0">
                                <img src="{% static 'main/images/investor/investor03.jpg'%}" alt="investor">
                            </a>
                        </div>
                        <div class="investor-content">
                            <ul class="social">
                                <li>
                                    <a href="#0" class="twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="pinterest">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="content">
                                <p>Iure sit illum tenetur dicta adipisci libero autem quos vero in.</p>
                                <div class="author">
                                    <h5 class="subtitle">
                                        <a href="#0">Bela Bose</a>
                                    </h5>
                                    <span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%endblock%}