{% load static %}
{% block content %}
    <script src="{% static 'main/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'main/js/modernizr-3.6.0.min.js'%}"></script>
    <script src="{% static 'main/js/plugins.js'%}"></script>
    <script src="{% static 'main/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'main/js/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'main/js/magnific-popup.min.js'%}"></script>
    <script src="{% static 'main/js/swiper.min.js'%}"></script>
    <script src="{% static 'main/js/wow.min.js'%}"></script>
    <script src="{% static 'main/js/odometer.min.js'%}"></script>
    <script src="{% static 'main/js/viewport.jquery.js'%}"></script>
    <script src="{% static 'main/js/nice-select.js'%}"></script>
    <script src="{% static 'main/js/paroller.js'%}"></script>
    <script src="{% static 'main/js/main.js'%}"></script>
{%endblock%}