{% load static %}
{% block content %}
<section class="partner-section padding-bottom padding-top bg_img" data-background="{% static 'main/images/partner/partner-bg.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="partner-content light-color">
                        <div class="section-header left-style">
                            <h2 class="title">become a partner</h2>
                            <p>Sed vivamus ut ut vestibulum mollis id, dictumst scelerisque blandit urna quam arcu,
                                bibendum sed semper sapien. Et orci quia suspendisse aliquam</p>
                        </div>
                        <ul class="bullet-list-2">
                            <li>Pulvinar cum morbi eleifend</li>
                            <li>Sagittis tempor varius</li>
                            <li>Pulvinar cum morbi eleifend</li>
                            <li>Mulvinar cum morbi eleifend</li>
                        </ul>
                        <a href="#0" class="custom-button no-radius">get start now</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="partner-wrapper">
                        <div class="partner-line one">
                            <div class="partner-item">
                                <a href="#0">
                                    <img src="{% static 'main/images/partner/part01.png'%}" alt="partner">
                                </a>
                            </div>
                        </div>
                        <div class="partner-line two">
                            <div class="partner-item">
                                <a href="#0">
                                    <img src="{% static 'main/images/partner/part02.png'%}" alt="partner">
                                </a>
                            </div>
                            <div class="partner-item">
                                <a href="#0">
                                    <img src="{% static 'main/images/partner/part03.png'%}" alt="partner">
                                </a>
                            </div>
                        </div>
                        <div class="partner-line three">
                            <div class="partner-item">
                                <a href="#0">
                                    <img src="{% static 'main/images/partner/part04.png'%}" alt="partner">
                                </a>
                            </div>
                            <div class="partner-item">
                                <a href="#0">
                                    <img src="{% static 'main/images/partner/part05.png'%}" alt="partner">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}