{% load static %}
{% block content %}
<section class="client-section padding-top">
        <div class="container">
            <div class="section-header">
                <span class="cate">Our happy client</span>
                <h2 class="title">Check Our Client Feedback</h2>
                <p>Sed vivamus ut ut vestibulum mollis id, dictumst scelerisque blandit urna quam arcu, bibendum sed
                semper sapien. Et orci quia suspendisse aliquam</p>
            </div>
            <div class="client-wrapper">
                <div class="client-map">
                    <div class="map">
                        <img src="{% static 'main/images/client/map.png'%}" alt="client">
                    </div>
                    <div class="thumb-1">
                        <img src="{% static 'main/images/client/01.jpg'%}" alt="client">
                    </div>
                    <div class="thumb-2">
                        <img src="{% static 'main/images/client/02.jpg'%}" alt="client">
                    </div>
                    <div class="thumb-3">
                        <img src="{% static 'main/images/client/03.jpg'%}" alt="client">
                    </div>
                    <div class="thumb-4">
                        <img src="{% static 'main/images/client/04.jpg'%}" alt="client">
                    </div>
                    <div class="thumb-5">
                        <img src="{% static 'main/images/client/05.jpg'%}" alt="client">
                    </div>
                    <div class="thumb-6">
                        <img src="{% static 'main/images/client/06.jpg'%}" alt="client">
                    </div>
                    <div class="client-navigation">
                        <div class="client-prev active">
                            <i class="flaticon-left-arrow"></i>
                        </div>
                        <div class="client-next">
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </div>
                </div>
                <div class="client-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="client-item">
                                <div class="client-thumb">
                                    <a href="#0">
                                        <img src="{% static 'main/images/client/client01.jpg'%}" alt="client">
                                    </a>
                                </div>
                                <div class="client-content">
                                    <h5 class="title">
                                        <a href="#0">Heliam B Bannah</a>
                                    </h5>
                                    <span class="info">Top Investor</span>
                                    <p>
                                        <span>
                                            ipsum quia dolor sit amet, consectetur, adipis civelit. Red quia numquam
                                            eius modi. Neque porro quisquam est, qui doltetur Lorem
                                        </span>
                                    </p>
                                    <div class="ratings">
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="client-item">
                                <div class="client-thumb">
                                    <a href="#0">
                                        <img src="{% static 'main/images/client/client02.jpg'%}" alt="client">
                                    </a>
                                </div>
                                <div class="client-content">
                                    <h5 class="title">
                                        <a href="#0">Raihan Rafuj</a>
                                    </h5>
                                    <span class="info">Top Investor</span>
                                    <p>
                                        <span>
                                            ipsum quia dolor sit amet, consectetur, adipis civelit. Red quia numquam
                                            eius modi. Neque porro quisquam est, qui doltetur Lorem
                                        </span>
                                    </p>
                                    <div class="ratings">
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="client-item">
                                <div class="client-thumb">
                                    <a href="#0">
                                        <img src="{% static 'main/images/client/client03.jpg'%}" alt="client">
                                    </a>
                                </div>
                                <div class="client-content">
                                    <h5 class="title">
                                        <a href="#0">Bela Bose</a>
                                    </h5>
                                    <span class="info">Top Investor</span>
                                    <p>
                                        <span>
                                            ipsum quia dolor sit amet, consectetur, adipis civelit. Red quia numquam eius
                                            modi. Neque porro quisquam est, qui doltetur Lorem
                                        </span> 
                                    </p>
                                    <div class="ratings">
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}