{% load static %}
{% block content %}
<div class="flow-section padding-top padding-bottom">
        <div class="container">
            <div class="flow-wrapper mb-40-none">
                <div class="flow-item one">
                    <div class="flow-thumb">
                        <div class="thumb">
                            1
                        </div>
                    </div>
                    <h5 class="title">Decide on a Set that's right for you</h5>
                </div>
                <div class="flow-item two">
                    <div class="flow-thumb">
                        <div class="thumb">
                            2
                        </div>
                    </div>
                    <h5 class="title">Particpate in a Set</h5>
                </div>
                <div class="flow-item three">
                    <div class="flow-thumb">
                        <div class="thumb">
                            3
                        </div>
                    </div>
                    <h5 class="title">Recieve your payout</h5>
                </div>
                <div class="flow-item four">
                    <div class="flow-thumb">
                        <div class="thumb">
                            4
                        </div>
                    </div>
                    <h5 class="title">Jump back in!</h5>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}